.site-header{
    background-color: rgb(219, 208, 219);
    color:rgb(143, 136, 136);
    height: 100vh;
    font-family:monospace;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic
{
    border-radius: 50%;
    height: 200px;
    width:200px;
    box-shadow: rgb(160, 156, 160) 2px 5px 5px;
}
body{
    margin:0;
}
.site-header-content
{
    margin:10px;
}